.site-main{
    .woocommerce-order{
        .woocommerce-notice--success{
            margin: 0;
            font-size: 16px;
            font-family: Geologica;
            font-weight: 400;
            color:  $gray;
            line-height: 22px;
        }

        .woocommerce-thankyou-order-details{
            margin: 0;
            margin-top: 32px;
            padding: 35px 48px;
            background: $container-black; 
            display: flex;
            flex-direction: column;
            position: relative; 
            clip-path: polygon(
                0 5%, 1.25% 0, 2.5% 5%, 3.75% 0, 5% 5%, 6.25% 0, 7.5% 5%, 8.75% 0, 10% 5%, 11.25% 0,
                12.5% 5%, 13.75% 0, 15% 5%, 16.25% 0, 17.5% 5%, 18.75% 0, 20% 5%, 21.25% 0, 22.5% 5%, 23.75% 0,
                25% 5%, 26.25% 0, 27.5% 5%, 28.75% 0, 30% 5%, 31.25% 0, 32.5% 5%, 33.75% 0, 35% 5%, 36.25% 0,
                37.5% 5%, 38.75% 0, 40% 5%, 41.25% 0, 42.5% 5%, 43.75% 0, 45% 5%, 46.25% 0, 47.5% 5%, 48.75% 0,
                50% 5%, 51.25% 0, 52.5% 5%, 53.75% 0, 55% 5%, 56.25% 0, 57.5% 5%, 58.75% 0, 60% 5%, 61.25% 0,
                62.5% 5%, 63.75% 0, 65% 5%, 66.25% 0, 67.5% 5%, 68.75% 0, 70% 5%, 71.25% 0, 72.5% 5%, 73.75% 0,
                75% 5%, 76.25% 0, 77.5% 5%, 78.75% 0, 80% 5%, 81.25% 0, 82.5% 5%, 83.75% 0, 85% 5%, 86.25% 0,
                87.5% 5%, 88.75% 0, 90% 5%, 91.25% 0, 92.5% 5%, 93.75% 0, 95% 5%, 96.25% 0, 97.5% 5%, 98.75% 0,
                100% 5%, 100% 95%, 98.75% 100%, 97.5% 95%, 96.25% 100%, 95% 95%, 93.75% 100%, 92.5% 95%,
                91.25% 100%, 90% 95%, 88.75% 100%, 87.5% 95%, 86.25% 100%, 85% 95%, 83.75% 100%, 82.5% 95%,
                81.25% 100%, 80% 95%, 78.75% 100%, 77.5% 95%, 76.25% 100%, 75% 95%, 73.75% 100%, 72.5% 95%,
                71.25% 100%, 70% 95%, 68.75% 100%, 67.5% 95%, 66.25% 100%, 65% 95%, 63.75% 100%, 62.5% 95%,
                61.25% 100%, 60% 95%, 58.75% 100%, 57.5% 95%, 56.25% 100%, 55% 95%, 53.75% 100%, 52.5% 95%,
                51.25% 100%, 50% 95%, 48.75% 100%, 47.5% 95%, 46.25% 100%, 45% 95%, 43.75% 100%, 42.5% 95%,
                41.25% 100%, 40% 95%, 38.75% 100%, 37.5% 95%, 36.25% 100%, 35% 95%, 33.75% 100%, 32.5% 95%,
                31.25% 100%, 30% 95%, 28.75% 100%, 27.5% 95%, 26.25% 100%, 25% 95%, 23.75% 100%, 22.5% 95%,
                21.25% 100%, 20% 95%, 18.75% 100%, 17.5% 95%, 16.25% 100%, 15% 95%, 13.75% 100%, 12.5% 95%,
                11.25% 100%, 10% 95%, 8.75% 100%, 7.5% 95%, 6.25% 100%, 5% 95%, 3.75% 100%, 2.5% 95%,
                1.25% 100%, 0 95%
            );
            @media (max-width: $mobile) {
                clip-path: polygon(
                    0 5%, 2.5% 0, 5% 5%, 7.5% 0, 10% 5%, 12.5% 0, 15% 5%, 17.5% 0, 20% 5%, 22.5% 0,
                    25% 5%, 27.5% 0, 30% 5%, 32.5% 0, 35% 5%, 37.5% 0, 40% 5%, 42.5% 0, 45% 5%, 47.5% 0,
                    50% 5%, 52.5% 0, 55% 5%, 57.5% 0, 60% 5%, 62.5% 0, 65% 5%, 67.5% 0, 70% 5%, 72.5% 0,
                    75% 5%, 77.5% 0, 80% 5%, 82.5% 0, 85% 5%, 87.5% 0, 90% 5%, 92.5% 0, 95% 5%, 97.5% 0,
                    100% 5%, 100% 95%, 97.5% 100%, 95% 95%, 92.5% 100%, 90% 95%, 87.5% 100%, 85% 95%,
                    82.5% 100%, 80% 95%, 77.5% 100%, 75% 95%, 72.5% 100%, 70% 95%, 67.5% 100%, 65% 95%,
                    62.5% 100%, 60% 95%, 57.5% 100%, 55% 95%, 52.5% 100%, 50% 95%, 47.5% 100%, 45% 95%,
                    42.5% 100%, 40% 95%, 37.5% 100%, 35% 95%, 32.5% 100%, 30% 95%, 27.5% 100%, 25% 95%,
                    22.5% 100%, 20% 95%, 17.5% 100%, 15% 95%, 12.5% 100%, 10% 95%, 7.5% 100%, 5% 95%,
                    2.5% 100%, 0 95%
                );
            }

            .woocommerce-order-overview__order,
            .woocommerce-order-overview__date ,
            .woocommerce-order-overview__email,
            .woocommerce-order-overview__total,
            .woocommerce-order-overview__payment-method{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-family: Geologica;
                font-weight: 400 !important;
                color:  $main-green;
                line-height: 18px;
                padding: 17px 0;
                border: none;
                border-bottom: 1px solid $hr-color;
                margin: 0;
                position: relative; 

                strong{
                    color: $gray;
                    font-size: 14px !important;
                    position: absolute; 
                    left: 180px; 
                    @media (max-width: $mobileSmall) {
                        left: 140px
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        p{
            display: none;
        }
        .woocommerce-order-details{
            margin: 0;
            margin-top: 44px;
            padding: 32px;
            background: $container-black;
            border-radius: 16px;

            h2{
                margin: 0;
                font-size: 22px;
                font-family: Geologica;
                line-height: 22px;
                font-weight: 400;
                color: $gray;
            }
            .woocommerce-table{
                border: none;
                margin-top: 44px;
                font-size: 14px;
                font-family: Geologica;
                line-height: 20px;
                font-weight: 400;
                color: $gray;
                border-collapse: separate;
                border-spacing: 0; 
                thead {
                    background: $text-area;
                    border-radius: 8px;
                    overflow: hidden;
                
                    tr {
                        th {
                            padding: 12px 32px;
                            @media (max-width: $mobile) {
                                padding: 12px 10px;
                            }
                        }
                
                        &:first-child th:first-child {
                            border-top-left-radius: 8px;
                        }
                
                        &:first-child th:last-child {
                            border-top-right-radius: 8px;
                        }
                
                        &:last-child th:first-child {
                            border-bottom-left-radius: 8px; 
                        }
                
                        &:last-child th:last-child {
                            border-bottom-right-radius: 8px; 
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            padding: 12px 32px;
                            @media (max-width: $mobile) {
                                padding: 12px 10px;
                            }
                            
                        }
                        .woocommerce-table__product-name{
                            position: relative; 
                            color: $main-green;
                            a{
                                color: $main-green;
                                text-decoration: none;
                            }
                            strong{
                                position: absolute; 
                                left: 350px;
                                @media (max-width: $tablet) {
                                    position: static;
                                }
                            }
                        }
                    }
                }
                tfoot{
                    tr{
                        td,
                        th{
                            padding: 12px 32px;
                            @media (max-width: $mobile) {
                                padding: 12px 10px;
                            }
                        }
                    }
                }
            }
        }
        .woocommerce-customer-details{
            margin: 0;
            margin-top: 22px;

            .woocommerce-column{
                border-radius: 16px;
                background: $container-black;
                padding: 32px;
                margin-bottom: 22px;
                h2{
                    background-image: url('../assets/images/location.svg');
                    background-repeat: no-repeat;
                    padding-left: 32px;
                    margin: 0;
                    font-size: 22px;
                    font-family: Geologica;
                    line-height: 22px;
                    color: $gray;
                }
                address{
                    margin: 0;
                    padding: 0;
                    margin-top: 44px;
                    font-size: 16px;
                    font-family: Geologica;
                    line-height: 28px;
                    color: gray;
                    border: none;

                    span{
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}