$mobileSmall: 576px;
$mobile: 768px;
$tablet: 992px;
$pc: 1200px;
$main-width: 1140px;

$black: #111111;
$white: #FFFFFF;
$main-green: #51A65F;
$gray: #B5B5B5;
$container-black:#1F1F1F;
$location-gray:#B6B6B6;
$date-gray: #646464;
$empty-star: #292929;
$comment-gray: #565656;
$comment-empty-star: #303030;
$footer-year: #A8A8A8;
$nav-title: #494949;
$product-description: #969696;
$filter-text: #BABABA;
$hr-color: #3B3B3B;
$text-cart-phone: #676767;
$text-area: #2C2C2C;
$agree-terms: #414141;
$remember: #929292;